@import "settings";
*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
body, html {
  height: 100%;
  background-color: $color-bg;
  color: $color-text;
  margin: 0;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Montserrat-Regular';
  color:#000;
  padding: 50px 0 20px 0;
  width: 300px;
  margin: 0 auto;
}
.menuwrap{
  background-color: #d0dbed;
  width: 400px;
  margin: 0 auto;
  border-radius: 50px;
  border: 1px solid #000;

  @media only screen and (max-width : 800px) {
    width: 250px;
  }
}
ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0;
  width: 300px;
  margin: 0 auto;
}
li{
  margin: 35px 0 45px 0 ;
}
a{
  color: #000;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Montserrat-Regular';
  background-color: #4CAF50;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 50px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  &:hover{
    color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}
// .alert {
//   z-index: 1;
//   position: absolute;
//   padding: 20px;
//   background-color: #f44336;
//   color: white;
// }
// .closebtn {
//   margin-left: 15px;
//   color: white;
//   font-weight: bold;
//   float: right;
//   font-size: 22px;
//   line-height: 20px;
//   cursor: pointer;
//   transition: 0.3s;
// }
// .closebtn:hover {
//   color: black;
// }
.title{
  color: #000;
  text-align: center;
  font-family: 'Orange-Juice';
  font-size: 100px;
  padding: 20px 0 20px 0;

  @media only screen and (max-width : 800px) {
  font-size: 60px;
  }
  @media only screen and (max-width : 500px) {
  font-size: 40px;
  }
}
.wordtoguess{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: 'Montserrat-Regular';
  padding: 10px;
  flex-direction: column;

  @media only screen and (max-width : 800px) {
  font-size: 15px;
  }
  // @media only screen and (max-width : 500px) {
  // //font-size: 10px;
  // }
}
input{
  padding: 10px;
  margin: 0 10px 0 10px;
  font-size: 18px;
  font-family: 'Montserrat-Regular';
  background-color: #d0dbed;
  border: 2px solid #000;
  border-radius: 20px;
  outline-width: 0;

  @media only screen and (max-width : 800px) {
  font-size: 15px;
  }
  // @media only screen and (max-width : 500px) {
  // font-size: 10px;
  // }
}
.lettertoguess{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: 'Montserrat-Regular';
  padding: 10px;
  flex-direction: column;

  @media only screen and (max-width : 800px) {
  font-size: 15px;
  }
  // @media only screen and (max-width : 500px) {
  // //font-size: 10px;
  //
  // }
}
.btn1{
  background-color: #4CAF50;
  border: 2px solid #000;
  color: #fff;
  border-radius: 25px;
  outline-width: 0;
  font-size: 18px;
  font-family: 'Montserrat-Regular';
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  outline:0;
  &:hover{
    background-color: #fff;
    color:#000;
  }
  @media only screen and (max-width : 800px) {
  font-size: 15px;
  }
  @media only screen and (max-width : 500px) {
  font-size: 10px;
  }
}
#button{
  font-size: 20px;
}
.cointainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.typedletters{
  font-size: 20px;
  font-family: 'Montserrat-Regular';
  padding-top: 20px;

 @media only screen and (max-width : 800px) {
 font-size: 15px;
 }
//  @media only screen and (max-width : 500px) {
//  font-size: 10px;
//  }
}
.display{
  font-size: 20px;
  font-family: 'Montserrat-Regular';
  padding: 10px;

  @media only screen and (max-width : 800px) {
  font-size: 15px;
  }
  // @media only screen and (max-width : 500px) {
  // font-size: 10px;
  // }
}
.guess{
  font-size: 20px;
  font-family: 'Montserrat-Regular';
  color:#000;
  padding: 10px;

  @media only screen and (max-width : 800px) {
  font-size: 15px;
  }
  // @media only screen and (max-width : 500px) {
  // font-size: 10px;
  // }
}
.hang{
  width: 250px;
  height: auto;
}
#hang9{display: none;}
#hang8{display: none;}
#hang7{display: none;}
#hang6{display: none;}
#hang5{display: none;}
#hang4{display: none;}
#hang3{display: none;}
#hang2{display: none;}
#hang1{display: none;}
.credits{
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: 'Montserrat-Regular';
  padding: 30px;
}
@font-face {
    font-family: Orange-Juice;
    src: url(../fonts/orangejuice.ttf);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}
